.app__navbar-container {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0a192f;
    color: white;
    padding: 4rem;
    font-family: 'Plus Jakarta Sans', sans-serif
}


.app__navbar_menu {
    display: flex;
}

.app__navbar_menu li {
    font-size: 2rem;
    font-weight: bold;
}

.app__navbar_menu li:hover {
    cursor: pointer;
    color: #6fff85d8;
    transform: scale(1.2);
    transition-duration: 300ms;

}

.app__navbar-mobile_menu-button, .app__navbar-mobile_menu-list {
    display: none;
}


.app__navbar-mobile_menu-list li:hover, .app__navbar-mobile_menu-button:hover {
    color: #6fff85d8;

    cursor: pointer;
    transform: scale(1.5);
    transition-duration: 300ms;
}

.app__navbar_contact {
    display: flex;
    flex-direction: column;

    position: fixed;
    top: 35%;
    left:0
}


.app__navbar_contact-socialmedia {
    width: 150px;
    height: 60px;

    margin-left: -95px;

    padding: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: white;
}

.app__navbar_contact-socialmedia:hover {
    margin-left: -5px;
    transition-duration: 300ms;
}

.app__navbar_contact-socialmedia a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    text-decoration: none;
    color: white;
}

@media screen and (max-width: 1024px ) {


    .app__navbar-container {
        padding: 2rem;
    }


    .app__navbar_menu li {
        display: none;
    }

    .app__navbar-mobile_menu-button, .app__navbar-mobile_menu-list {
        display: flex;
    }

    .app__navbar-mobile_menu-button {
        z-index: 1;
    }

.app__navbar-mobile_menu-list {
    position: absolute;
    top: 0;
    left:0;

    width: 100%;
    height: 100vh;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;

    font-size: 3rem;
    background-color: #0a192f;
}


.app__navbar_contact-socialmedia {
    display: none;
}
}